#section0 {
    color:rgb(59, 70, 127);
}

#section1 {
    color:rgb(187, 107, 160);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#section2 {
    color:rgb(113, 192, 140);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#section3 {
    color:rgb(202, 154, 82);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#section4 {
    color:rgb(92, 122, 187);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: beige;
    text-align: center;
    background: rgb(251,215,239);
    background: linear-gradient(180deg, rgba(251,215,239,1) 20%, rgba(212,242,207,1) 40%, rgba(245,237,192,1) 60%, rgba(209,242,253,1) 80%);
}   

img{
    width: 300px;
}